// General settings
$smallSizeScreenBrakeDown: 670px;

//screen widths
$media-sm-width: 576px;
// $media-md-width: 576px;
$media-lg-width: 767px;
$media-xl-width: 1024px;
$media-xxl-width: 1500px;

/* Top Nav - call to action*/
$top_nav_background_color: transparent;
$top_nav_font_size: 0.7rem;
$top_nav_phone_and_email_color: black;
$top_nav_globe_color: #2c3e50;
$top_nav_globe_color_on_hover: #1d89f5;
$top_nav_language_color: #4c7094;

//nav bar - desktop
$nav_bar_desktop_font_size: 0.8rem;
$nav_bar_desktop_height: 70px;
$nav_bar_desktop_font_weight: bold;
$nav_bar_desktop_no_display_screen_width: 670px;
$nav_bar_desktop_active_link_color: #c3c8cc;
//navbar - logo
$nav_bar_logo_width: 6.37rem;
$nav_bar_logo_height: 3.3rem;
$nav_bar_logo_position_top: 0.1rem;
$nav_bar_logo_position_left: 0.6rem;

//mobile nav
$nav_bar_mobile_no_display_screen_width: 670px;
$nav_bar_mobile_menu_width: 100%;
$nav_bar_mobile_background_color: #f9feff;
$nav_bar_mobile_link_active_color: #2c3e50;
$nav_bar_mobile_back_link_color: #2c3e50;
// $menuWidth: 100%;

//hero
$hero_height: calc(100% - 76.14px);
$hero_text_color: rgb(255, 247, 250);
$hero_font_familly: "Baloo Bhai", cursive;
$hero_black_layaut_color: black;
$hero_black_layaut_opacity: 0.6;

//services intro

//bordered text primary
$bordered_text_primary_font_size: 1.5rem;
$bordered_text_primary_border_top_distance: 120%;
$bordered_text_primary_border_height: 0.3rem;
$bordered_text_primary_background_color: #2980b9;
//bordered text secoundary
$bordered_text_secoundary_border_top_distance: 120%;
$bordered_text_secoundary_border_height: 0.3rem;
$bordered_text_secoundary_background_color: #9b59b6;
$bordered_text_secoundary_font_size: 1.4rem;

// contact form
$contact_form_background_color: rgba(223, 223, 221, 0.85);
$contact_form_submit_btn_color: #663259;
$contact_form_submit_btn_active_color: #8b0f6c;
$contact_form_border_radius: 0.3rem;
$contact_form_font_size: 0.8rem;

//image slider
$image_slider_side_picture_width: 100%;
$image_slider_side_picture_opacity: 0.6;
$image_slider_side_picture_border: 2px solid rgb(84, 45, 102);
$image_slider_side_outline: 2px dashed gray;
$image_slider_side_outline_offset: 5px;
$image_slider_side_picture_border_width: 100%;
$image_slider_wrapper_bottom_text_height: 30px;
$image_slider_small_img_border_radius:5px;
$image_slider_main_img_border_radius:10px;

@mixin setMinWidth($screen_width,$box_width) {
  @media all and (min-width: $screen_width) {
    width: $box_width;
  }
}
@mixin setMaxWidth($screen_width,$box_width) {
  @media all and (max-width: $screen_width) {
    width: $box_width;
  }
}